<div class="container">
    <h3>Greeting from Calendar page</h3>
    
     
    
    <p>Show Schedule for Today or Choose Date</p>
    
   <span> <button ng-click="getCalendarForToday()">TODAY {{date | date:'yyyy-MM-dd'}}</button></span>
    <br><br>
    <span><form ng-submit="submit()">
           
        <input type="date" ng-model="calendar.date" value="{{calendar.date | date: 'yyyy-MM-dd' }}"><br><br>
         
        <input type = "submit" id="submit-btn" value="Get Calendar" /> 
            
    </form></span>
    <br>
    
    <br> 
    <div ng-show=resultObtainedFromServer>
        
            <p>The schedule  is   </p><br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th> TIME</th>
                    
                    
                        <th> DATE</th>
                    
                    
                        <th> GROUP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in calendarList" >
                        <td>{{x.time}}</td>
                        <td>{{x.date}}</td>
                        <td><a ui-sref="getKidsInGroup({date: x.date, groupID:x.groupID})" ui-sref-active="active">{{x.groupName}}</a></td>
                </tbody>
                
            
            
            </table>
     <p>To View or Mark Attendance, please click on Group Name   </p><br>
     </div>              
            
    <input type ="button" id="back-btn-cal" value="Back " ng-click="goBack()"/>
          
       
      
  </div>
    
