<div class="container">
    <h3>Greeting from Kids page from GIT</h3>
    
   
        <form ng-submit="submit()">
            <p>The Kids in {{groupName}}  are   </p><br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th> KID ID</th>

                            <th> KID NAME</th>

                            <th> PRESENT </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in kidsList " >
                            <td>{{x.kidID}}</td>
                            <td>{{x.kidName}}</td>
                            <td><input id= "{{x.kidName}}" type="checkbox"
                            value="{{x.kidID}}"
                            ng-checked= "selection.indexOf(x.kidID)>-1" 
                            ng-click= "toggleSelection(x.kidID)"> </td>

                    </tbody>



                </table>

           
            <p> <input type = "submit" id="submit-btn" value="SaveAttendance" /> </p>

        </form>
    
    
    <input type ="button" id="back-btn-attendance" value="Back " ng-click="goBack()"/>
    
</div>
